/* context menu emote reaction bigger */
.menu-2TXYjN .wrapper--nA0oy {
  padding-left: 0px !important;
}
.menu-2TXYjN .wrapper--nA0oy .customItem-1KYL7t {
  width: 90%;
}
.theme-dark .menu-2TXYjN .button-1zW0-r {
  width: 100%;
  border-radius: 5%;
}
