/* context menu emote reaction bigger */
.menu-1QACrS .wrapper--nA0oy {
  padding-left: 0px !important;
}
.menu-1QACrS .wrapper--nA0oy .customItem-2CxBSo {
  width: 90%;
}
.theme-dark .menu-1QACrS .button-1zW0-r {
  width: 100%;
  border-radius: 5%;
}
