/* context menu emote reaction bigger */
.menu_dc52c6 .wrapper__2e846 {
  padding-left: 0px !important;
}
.menu_dc52c6 .wrapper__2e846 .customItem__7173b {
  width: 90%;
}
.theme-dark .menu_dc52c6 .button__3ecb4 {
  width: 100%;
  border-radius: 5%;
}
