/* darker channel categories */
[aria-label="Channels"] .containerDefault__23a29,
.privateChannelsHeaderContainer_ddcec6 {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 24px;
  padding-top: 3px;
  margin: 8px 0 4px 8px;
}
