/* user details - voice layout */
.wrapper__0ed4a {
  height: 85px;
}
.wrapper__0ed4a:empty {
  display: none;
}
.wrapper__0ed4a .flex_f5fbb7, .actionButtons_b58cbb {
  align-items: flex-start;
}
.actionButtons_b58cbb {
  display: flex;
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding-top: 0;
}
.actionButtons_b58cbb .button__66e8c{
  width: 32px !important;
  padding: 0;
}
